section {
    width: 75%;
    margin: 0 auto;
}

.recipe {
    text-align: center;
}

.recipe-container {
    display: flex;
    justify-content: space-around;
}

.recipe-container img {
    width: 200px;
}

@media screen and (max-width: 500px){
    .recipe-container{
        flex-direction: column;
    }
}
