body {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
}

.logoImg {
    border-radius: 50% 25%;
    width: 50px;
    height: 50px;
    background-color: #648DE5;
}

header {
    border-bottom: 1px solid #648DE5;
}

.logo {
    display: flex;
    align-items: center;
    color: #304C89;
}

.logoImg {
    border-radius: 50% 25%;
    width: 50px;
    height: 50px;
    background-color: #648DE5;
}

.product {
    border: 1.5px solid;
    color: #304C89;
    max-width: 300px;
    padding: 1em;
    margin: 1em auto;
}

@media screen and (min-width: 600px) {
    .product {
        max-width: 600px;
        display: flex;
}
.product__details {
    margin: 1em;
}
}